.jumbo {
    margin-top: 15%;
    background-color: #e9ecef;
}

.jumbotron {
    background-color: red;
}
.jumboCon {
    /* background-color: pink; */
}

.navs {
     background-color: #e9ecef; 
}

.home {
    background-color: plum;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
}

.home:hover{
    
    background-color: rgb(156, 103, 153);
}

.home:focus {
    outline: none !important;
}

.all {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    background-color: #e9ecef !important;
    float: right;
}
.all:active:hover:focus {
    outline: none !important;
    border: none !important;
    
}









