textarea {
    height: 200px;
    width: 75%;
}

 .x {
    margin-left: 300px;
} 

.header {
    display: inline-block;
}

@media screen and (max-width: 505px) and (min-width: 100px) {
    .x {
        margin-left: 7em;
    }

  }

